/*=================================*/
/*====== ANIMATION DU BLOC ========*/
/*=================================*/
.animation {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 2%;
    
    &__bloc {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: #000000;
        background-color: #ffcad8;
        animation: anim_bloc 1s forwards;
    }


    @keyframes anim_bloc {
        0% {
            transform: translateX(100vh);
        }

        50%{
            transform: translateX(-5vh);
        }

        100% {
            transform: translateX(0);
        }
    }
}

/*===========================================*/
/*====== ANIMATION DU MENU PRINCIPAL ========*/
/*===========================================*/
.menu{
    padding-left: 15%;
    animation: anim_menu_principal .85s ease-in-out;
}

@keyframes anim_menu_principal{
    0%{
        padding-left: 25%;
    }

    50%{
        padding-left: 30%;
    }

    80%{
        padding-left: 0%;
    }

    100%{
        padding-left: 15%;
    }
}



/*===================================*/
/*====== ANIMATION DU COEUR ========*/
/*==================================*/
.coeur{
    animation: animCoeur 1.2s infinite;
}

@keyframes animCoeur {
    0% {
      transform: rotate(-45deg) scale(0.8);
    }
    15% {
      transform: rotate(-45deg) scale(1);
    }
    25% {
      transform: rotate(-45deg) scale(0.8);
    }
    10% {
      transform: rotate(-45deg) scale(1.1);
    }
    45% {
      transform: rotate(-45deg) scale(0.8);
    }
    100% {
      transform: rotate(-45deg) scale(0.8);
    }
  }