/* ---------------- BACKGROUND */
$color__background-body : #ffffff;
$color__background-body-clip : #D94E73;
$color__background-main : #fa90acb6;
$color__background-main-cours : #F2F2F2;
$color__background-cours : #F2527D;
// $color__background-header : #F2134F;
$color__background-header : #F2527D;
$color__background-barre : #F299B1;
// $color__background-footer : #F2134F;
$color__background-footer : #F2527D;
$color__background-link : #ffffff;
$color__background-link-hover : #D94E73;

/* ---------------- LIENS */
$color__link : #f6cad6;
$color__link-hover : #bdb69e;
$color__link-visited : #D5D971;
$color__link-visited-cours : #ffcad8;

/* ---------------- LIENS FOOTER */
$color__link__footer : #000000;
$color__link__footer-hover : #851533;
$color__link__footer-visited : #ffcad8;

/* ---------------- LIENS HEADER */
$color__link__header : #030303;
$color__link__header-hover : #851533;
$color__link__header-visited : #ffcad8;


/* ---------------- FONT */
$color__font-header : #ffcad8;
$color__font-main-titre :#ffcad8;
$color__font-main-cours :#ffcad8;
$color__nbre-heure :#ff4a7a;
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : #000000;

/* ---------------- Bouton / lien menu*/
$color__bouton__color:#F299B1;
$color__bouton__background:#D94E73;
$color__bouton__color--hover:#851533;
$color__bouton__background--hover:#f9e08e;
$color__bouton__color--current:#facdda;
$color__bouton__background--current:#f5e9ad;

