/* ---------------- BACKGROUND */
$color__background-body : #D5D9D2;
$color__background-body-clip : #b36feb;
$color__background-main : #C596D9;
$color__background-cours : hsl(7, 100%, 91%);
$color__background-header : #F27457;
$color__background-barre : #F24405;
$color__background-footer : #F27457;
$color__background-link : #D5D9D2;
$color__background-link-hover : #C596D9;

/* ---------------- LIENS */
$color__link : #C596D9;
$color__link-hover : #F24405;
$color__link-visited : #F27457;

/* ---------------- LIENS FOOTER */
$color__link__footer : #C596D9;
$color__link__footer-hover : #F24405;
$color__link__footer-visited : #F27457;

/* ---------------- LIENS HEADER */
$color__link__header : #C596D9;
$color__link__header-hover : #F24405;
$color__link__header-visited : #F24405;


/* ---------------- FONT */
$color__font-header : #D5D9D2;
$color__font-main :rgb(68, 57, 54);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : #D5D9D2;