/* ---------------- BACKGROUND */
$color__background-body : #F2EBD5;
$color__background-body-clip : #D94E73;
$color__background-main : #fa90acb6;
$color__background-main-cours : #ff5d88;
$color__background-cours : #D5D971;
$color__background-header : #D5D971;
$color__background-barre : #EDF25C;
$color__background-footer : #D5D971;
$color__background-link : #F2EBD5;
$color__background-link-hover : #D94E73;

/* ---------------- LIENS */
$color__link : #D94E73;
$color__link-hover : #EDF25C;
$color__link-visited : #D5D971;

/* ---------------- LIENS FOOTER */
$color__link__footer : #000000;
$color__link__footer-hover : #70722f;
$color__link__footer-visited : #D94E73;

/* ---------------- LIENS HEADER */
$color__link__header : #D94E73;
$color__link__header-hover : #70722f;
$color__link__header-visited : #EDF25C;


/* ---------------- FONT */
$color__font-header : #F2EBD5;
$color__font-main-titre :#ffcad8;
$color__font-main-cours :#f82d63;
$color__nbre-heure :#ff4a7a;
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : #000000;
