// $font__main : Lucida;
$font__main : monaco, Consolas, "Lucida Console";
$font__titre : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

// $font__principal: Copperplate, "Copperplate Gothic Light", fantasy;
$font__principal: fantasy;
$font__secondaire:'Karla', sans-serif;  //a modifier
$font__paragraphe:'Karla', sans-serif;  // a modifier

$font__paragraphe_1:'Karla', sans-serif; // a modifier
$font__paragraphe_2:'Karla', sans-serif; // a modifier
$font__paragraphe_3:'Karla', sans-serif; // a modifier
