.menu-ateliers-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    
    .menu-item-description{
        color: rgba(255, 255, 255, 0.338);
    }

    // .atelier__htmlcss{
    //     background-image: url('https://s2.svgbox.net/files.svg?ic=css');
    // }

    // .atelier__git{
    //     background-image: url('https://s2.svgbox.net/files.svg?ic=reactjs');
    // }

    // .atelier__react{
    //     background-image: url('https://s2.svgbox.net/files.svg?ic=html');
    // }

    // .atelier__cssAvance{
    //     background-image: url('https://s2.svgbox.net/files.svg?ic=git');
    // }
}

p{
    font-weight: bold;
}