.boite__modale{
    position: absolute;
    top: 25vh;
    left: 25vw;
    border: 5px solid #F2134F;
    background-color: #f6cad6;
    width: 50vw;
    height: 50vh;
    transform: scale(.1);
    transition: all .75s ease-in-out;

    &:hover{
        transform: scale(1); 
    }

    // &__fermeture{}
    // &__texte{}
}