/********************************/
/******* Boite modale **********/
/********************************/
.boite__modale, .boite__carrousel{
    position: fixed;
    top: 25%;
    left: 25%;
    // border: 5px solid #F2134F;
    // background-color: #f6cad6;
    background-color: #1b1b1b;
    box-shadow: 8px 10px rgba(59, 59, 59, 0.732);
    color: white;
    width: 50%;
    height: 50%;
    transform: scale(0);
    transition: all .50s ease-in-out;
        // &__fermeture{}
    
    /** Texte dans la boîte modale**/    
    &__texte{
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    &__fermeture{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        z-index: 1;
        border-radius: 50%;
        border-color: white;
        margin-left: 10px;
        margin-top: 10px;

        &__hover{
            background-color: rgb(128, 128, 128);
        }
    }


}

.ouvrir{
    transform: scale(1); 
}

/********************************/
/******* Boite carrousel **********/
/********************************/
.boite__carrousel{
    
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__navigation{
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
        button{
            width: 20px;
            height: 20px;
            margin: 20px 10px;
            border-radius: 50%;
            &:focus{
                background-color: #1b1b1b;
            }
        }
    }
}