.boite__modale{
    position: fixed;
    top: 25%;
    left: 25%;
    // border: 5px solid #F2134F;
    // background-color: #f6cad6;
    background-color: #1b1b1b;
    color: white;
    width: 50%;
    height: 50%;
    transform: scale(0);
    transition: all .50s ease-in-out;
        // &__fermeture{}
    // &__texte{}

    &__fermeture{
        border-radius: 50%;
        border-color: white;
        margin-left: 10px;
        margin-top: 10px;

        &__hover{
            background-color: rgb(128, 128, 128);
        }
    }


}

.ouvrir{
    transform: scale(1); 
}
