.principal {
    margin: 20px;
    padding: 10px 15px;
    background-color: $color__background-main-cours;
    border-radius: 8px;
    box-shadow: #7a7a6e 1px -1px 10px;
}

/*===================================================*/
/*====== coeur ========*/
/*==================================================*/
.coeur {
    background-color: rgb(255, 0, 106);
    display: inline-block;
    height: 30px;
    margin: 0 30px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .coeur:before,
  .coeur:after {
    content: "";
    background-color: rgb(255, 0, 106);
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .coeur:before {
    top: -15px;
    left: 0;
  }
  
  .coeur:after {
    left: 15px;
    top: 0;
  }

/*===================================================*/
/*====== La page qui affiche tous les cours ========*/
/*==================================================*/
.formation {
    display: flex;
    flex-direction: column;

    &__titre {
        font-size: 2rem;
        color: $color__font-main-titre;
        margin: 10px 0px;
        font-family: $font__titre;
        font-weight: lighter;
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;
    }
    
    /*Chaque boîte de cours*/
    &__cours {
        background-color: $color__background-cours;
        box-shadow: #f2ebd5c9 1px -2px 10px;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
        padding: 10px;
        transition: transform .5s;
    }

    /*Lorsqu'on survole un des rectangles de cours*/
    &__cours:hover{
        transform: translate(5px, -10px);
        
    }

    /*Lorsque que le lien du cours a déjà été survolé*/
    &__cours a:visited{
        color: $color__link-visited-cours;
    }

}


/*================================*/
/*====== ÉLÉMENTS DES COURS ========*/
/*================================*/
.cours__titre {
    font-size: 1.5rem;
    color: $color__font-main-cours;
    margin: 5px 0px;
}

.cours__sigle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F2EBD5;
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}

.cours__nbre-heure {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $color__nbre-heure;
}

.svg_menu_principal {
    width: 45px;
    height: 45px;
}