/* CSS pour l'aspect visuel et le contrôle d'un curseur personnalisé
==================================================================== */

.curseur {
    height: 3rem;
    width: 3rem;
    background-color: rgba(247, 248, 250, 0);
    border: 10px solid #ff175594;
    border-radius: 50%;

    position: fixed;
    top: -1.5rem;
    left: -1.5rem;

    z-index: 500;
    pointer-events: none;
    will-change: transform;

    /*Transition*/
    transition: transform 0.9s cubic-bezier(0.15, 0.9, 0.35, 0.95), opacity 0.5s;
}
