
.site__footer {
  display : flex;
  flex-direction: column;
  &__colonne{
    display : flex;
    justify-content: space-between;
    section {
      display : flex;
      flex-direction: column;
      border : 1px solid #ddd;
      flex : 0 0 30%;
    }
  
  } 

  &__ligne{
    display : flex;
    flex-direction: column;
    align-items: center;
  }

}


.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;

    &__menu{ // .site__footer__menu

      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          justify-content: center;
          .menu-item { // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;
              
            }
          }    
       }
    }
  }

  /*================================*/
  /*====== AJOUT COMMENTAIRE========*/
  /*================================*/
.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}

.footer__sociaux{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-social-link{
  transform: translateY(5px);
}

.footer__auteur{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-size: 12px;
}

.footer__adresse_college{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-size: 12px;
}


/*================================*/
/*====== AJOUT COMMENTAIRE========*/
/*================================*/
.footer__menu nav li::marker{
  text-decoration: none;
}

.footer__menu nav ul{
  display: flex;
  list-style-type: none;
}

.footer__menu nav li{
  justify-content: space-around;
  padding-right: 20px;
}
