
.site__footer {
  display : flex;
  flex-direction: column;
  &__colonne{
    display : flex;
    flex-direction: column;
    justify-content: space-between;

    /** Taille d'écran pour les écrans mobiles */
    @media screen and (max-width: 200px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    section {
      display : flex;
      flex-direction: column;
      border : 1px solid #ddd;
      box-shadow: 8px 10px rgba(255, 255, 255, 0.4);
      flex : 0 0 30%;
    }
  } 

  &__ligne{
    display : flex;
    flex-direction: column;
    align-items: center;
  }

}

.footer__article{
  margin-top: 5vh;
}

.footer__adresse{
  margin-top: 5vh;

  /** Taille d'écran pour les écrans mobiles */
  @media screen and (max-width: 200px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

.footer__liens{
  margin-top: 5vh;

  /** Taille d'écran pour les écrans mobiles */
  @media screen and (min-width: 200px){
    .menu-item{
      display: flex;
      justify-content: center;
      margin-right: 6vw;
    }
  }
}

.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;

    &__menu{ // .site__footer__menu

      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          justify-content: center;
          .menu-item { // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;
              
            }
          }    
       }
    }
  }

  /*================================*/
  /*====== AJOUT COMMENTAIRE========*/
  /*================================*/
.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}

.footer__sociaux{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.wp-social-link{
  transform: translateY(5px);
}

.footer__auteur{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-size: 12px;
}

.footer__adresse_college{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-size: 12px;
}


/*================================*/
/*====== AJOUT COMMENTAIRE========*/
/*================================*/
.footer__menu nav li::marker{
  text-decoration: none;
}

.footer__menu nav ul{
  display: flex;
  list-style-type: none;
}

.footer__menu nav li{
  justify-content: space-around;
  padding-right: 20px;
}
