.site__header {
    background-color: $color__background-header;
    color: $color__font-header;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    @media screen and (min-width: 200px){
      flex-direction: row;
    }
    &__titre{
      display: flex;
    }

    .header__titre a{
      /* Parametres de clamp clamp(MIN, VAL, MAX)
      le VAL est pour l'évolution de la valeur (de combien la valeur augmente chaque fois)*/
      font-size: clamp(2rem, 2vw, 4rem);
      font-family: $font__titre;
    }

    .header__titre:hover {
      color:  #C596D9;
    }

    @mixin description {
      font-size: clamp(1rem, 2vw, 2rem);
      font-family: $font__main;
    }

    // .header__desc {
    //   @description;
    // }
  }

  .util{
    display: flex;
    flex-direction: column;
    margin-left: auto;

    .util__lien a svg{
      color: red;
    }
  }