/*================================*/
/*====== AJOUT COMMENTAIRE========*/
/*================================*/
.site__header {
    background-color: $color__background-header;
    color: $color__font-header;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 200px){
      flex-direction: row;
      align-items: center;
    }

    &__titre{
      display: flex;
      align-items: center;

      h1{
        font-size: clamp(1rem, 4vw, 7rem);
        font-family: $font__titre;
        padding-left: 10px;
      }
    }

    .site__header__titre{
      flex: 1;
    }

    .header__titre:hover {
      color:  #C596D9;
    }
  /*================================*/
  /*====== AJOUT COMMENTAIRE========*/
  /*================================*/
    @mixin description {
      font-size: clamp(1rem, 2vw, 1rem);
      font-family: $font__main;
      padding-left: 50px;
      // justify-content: space-around;
    }

  }

  /*================================*/
  /*====== AJOUT COMMENTAIRE========*/
  /*================================*/
  .util{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width : 900px){
      margin-left: auto;
      // width: 350px;
      align-items: flex-end;
    }


    .util__lien a svg{
      color: rgb(255, 0, 128);
    }
  }

  .header__description{
    padding-left: 5%;
  }