#burger {
    z-index: 99;
}


#chk-burger {
    display: none;
}


// #chk-burger:checked ~ #burger {

// }

#chk-burger:checked ~ .menu-principal-container {
    display: block;
}

.menu{
    background-color: #f6cad6;
    list-style-type: none;
    margin : 0;
    padding :0;
    
    
        padding-left: 15%;
        animation: anim_menu_principal .85s ease-in-out;
}

// .menu-principal-container {
//     display: none;
// }

.menu-principal-container {
    display : none;
    .menu{
        background-color: #f6cad6;
        list-style-type: none;
        margin : 0;
        padding :0;
        
        
            padding-left: 15%;
            animation: anim_menu_principal .85s ease-in-out;
    }
    
    @keyframes anim_menu_principal{
        0%{
            padding-left: 25%;
        }
    
        50%{
            padding-left: 30%;
        }
    
        80%{
            padding-left: 0%;
        }
    
        100%{
            padding-left: 15%;
        } /***** FIN DE L'ANIMATION DU MENU PRINCIPAL ****/
    }
}


.menu{
    background-color: #f6cad6;
    list-style-type: none;
    margin : 0;
    padding :0;
    
    
        padding-left: 15%;
        animation: anim_menu_principal .85s ease-in-out;
}

@keyframes anim_menu_principal{
    0%{
        padding-left: 25%;
    }

    50%{
        padding-left: 30%;
    }

    80%{
        padding-left: 0%;
    }

    100%{
        padding-left: 15%;
    } /***** FIN DE L'ANIMATION DU MENU PRINCIPAL ****/
}



.menu-item{
    // margin:0;
    margin-left: 5px;
    padding : 0;
    display: flex;

    a{
        display : block;
        text-decoration: none;
        padding : 4px;
        margin: 5px;
        transition: all .5s ease-in-out;
        background-color: $color__bouton__background;
        border-radius: 10px;

        &:hover {
            background-color: $color__bouton__background--hover;
            border-radius: 10px;
            transform: translateY(-5px);
        }
    }
    
    li{
        padding-left: auto;
        &:hover{
            padding-left: 20px;
        }
    }

}

@media screen and (min-width : $largeur__media--desktop){
    #burger {
        display : none;
    }
    .menu-principal-container {
        display : block;
    }
    .home #burger {
        display : block;
    }
    .home .menu-principal-container {
        display : none;
    }
}

