#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
}


#chk-burger {
    display: none;
}


#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principal-container {
    display : none;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}


.menu{
    background-color: #F2EBD5;
    list-style-type: none;
    margin : 0;
    padding :0;
    // padding-left: 15%;
    // padding-top: 15%;
}

.menu-item{
    margin:0;
    padding : 0;
    a{
        display : block;
        text-decoration: none;
        padding : 4px;
        background-color: $color__background-link;
        transition: all .5s ease-in-out;
        &:hover {
            background-color: $color__background-link-hover;
            transform: translate(5px);
        }
    }
    
    li{
        padding-left: auto;
        &:hover{
            padding-left: 20px;
        }
    }

}

