/**************************************************************/
/************** Navigation catégorie cours ********************/
/*************************************************************/

.menu-categorie_cours-container{ //nav
    
    .menu{ // ul
        display: flex;
        background-color: #3A3940;
        padding-left: none;
        .menu-item{ // li
            margin: 5px 10px;
            display: flex;
            border-radius: 10px;
            transition: transform 1s ease-in-out ;

            &:hover{
                transform: translateY(-5px);
            }

            a{
                color: $color__bouton__color;
            }


            &:hover a{
                background-color: $color__bouton__background--hover;

                a{
                    color: $color__bouton__color--hover;
                }
            } //fin de menu-item

            .current-menu-item{
                background-color: $color__bouton__background--current;
                a{
                    color: $color__bouton__color--current;
                }
            }
        }
    }
}