#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
}


#chk-burger {
    display: none;
}


#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principal-container {
    display : none;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}


.menu{
    background-color: $color__background-main;
    list-style-type: none;
    margin : 0;
    padding :0;
}

.menu-item{
    margin:0;
    padding : 0;
    display: flex;

    a{
        display : block;
        text-decoration: none;
        padding : 4px;
        margin: 5px;
        transition: all .5s ease-in-out;
        background-color: $color__bouton__background;
        border-radius: 10px;

        &:hover {
            background-color: $color__bouton__background--hover;
            border-radius: 10px;
            transform: translateY(-5px);
        }
    }
    
    li{
        padding-left: auto;
        &:hover{
            padding-left: 20px;
        }
    }

}

